PORT=80
DB_HOST=192.168.2.254
DB_USER=opd
DB_PASSWORD=opd
DB_NAME=hos

# กำหนดผู้ดูแลระบบ
ADMIN_CID=1480700068494
ADMIN_GROUP=ผู้ดูแลระบบ

# ควรเปลี่ยนก่อนใช้งานจริง
SESSION_SECRET=please-change-this-secret
